﻿@model List<kiwiWearEntities.Product>
@{
    ViewBag.Title = "ProductTable";
}

<h2>ProductTable</h2>
<div>
    <form method="post" >
        <input id="searchTxt" name="Search"/>
        <button type="button"id="searchBtn">Search</button>

    </form>
    <button>new</button>
</div>
<div >
    <table>
        <thead>
            <tr>
                <td>Product Name</td>
                <td>Catagory</td>
                <td>Price</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>

            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.catagory</td>

                    <td>@product.Price</td>

                    <td>
                        <button>Edit</button>
                        <button>Delete</button>
                    </td>

                </tr>

            }
        </tbody>

    </table>

</div>
<script>
    $("#searchBtn").click(function () {
        var searchValue = $("#searchTxt").val();
        $.ajax({
            url: '/Product/ProductTable',
            data: {
                search : searchValue
            }
        })
            .done(function (data) {
                $("#tableContainer").html(data
                );
                
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("fail");
            });
    });

</script>