﻿
@{
    ViewBag.Title = "Create";
}

<h2>Create catagory</h2>
<form method="post">
    <label>Name</label>
    <input name="Name" />
    <br />

    <label>Description</label>
    <input name="Description" />

    <br />
    <button type="submit"> save </button>
</form>