﻿@model kiwiWearEntities.Catagory

@{
    ViewBag.Title = "Delete";
}

<h2> ARE YOU SURE YOU WANT TO DELETE ?</h2>


<form method="post">
    <label>ID</label>
    <input type="hidden" name="ID" value="@Model.ID" />
   
    <button type="submit"> YES  </button>
</form>

<a href="/Index">cancel</a>


