﻿@model kiwiWearEntities.Catagory
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<form method="post">
    <label>ID</label>
    <input type="hidden" name="ID" value="@Model.ID" />
    <br />
    <label>Name</label>
    <input name="Name" value="@Model.Name" />
    <br />

    <label>Description</label>
    <input name="Description" value="@Model.Description" />

    <br />
    <button type="submit"> save </button>
</form>

